.sidebar section.block {
  background: #FFF;
  color: #444;
  margin: 15px 0;
} 
.sidebar section.block:first-child,
.sidebar section.block:first-child .block-title {
  margin-top: 0;
} 
.sidebar section.block .item-list li {
    list-style: none outside none;
}
.sidebar section.block a {
  color: #222;
}  
.sidebar section.block .block-title {
  background: #F06060;
  color: #FFF;
  font-size: 24px;
  padding: 12px;
}
.sidebar section.block:nth-of-type(2) .block-title {
  background:#00F;
}
.sidebar section.block:nth-of-type(4) .block-title {
  background:#09f;
}

.sidebar section.block-comment ul li > span {
  color: #999999;
  display: block;
  font-size: 0.85em;
  line-height: 13px;
  padding-bottom: 6px;
}

.block-blog-recent .more-link {
  padding-right: 30px;
  margin-bottom: 17px;
  display: inline-block;
  margin-right: 9px;
}