
/************************************* Colors *********************************************/
.metro-panel .blog-box.featured  > div {
  background: #FCA325;
}  
.featured.blog-box .featured-box-title {
  background: rgba(255, 154, 0, 0.9);
}

/*
.metro-panel .work-box > div {
  background: #00CD99;
} 
.metro-panel .testimonials-box > div {
  background: #E11E38;
}
.metro-panel .about-box > div,
.featured.about-box .box-title,
.box3,
.vertical-menu .menu-list a.mn-about i {
  background: #f39c12;
} 
.metro-panel .portfolio-box > div,
.featured.portfolio-box .box-title,
.box4,
.vertical-menu .menu-list a.mn-portfolio i {
  background: #16a085;
}
.metro-panel .team-box > div,
.featured.team-box .box-title,
.box5,
.vertical-menu .menu-list a.mn-team i {
  background: #8e44ad;
} 
.box5{
	
	background: #8e44ad;
}
.metro-panel .blog-box > div,
.box6,
.vertical-menu .menu-list a.mn-blog i {
  background: #ac193d;
} 
.metro-panel .contact-box > div,
.box1,
.vertical-menu .menu-list a.mn-contact i {
  background: #3498db;
}
.metro-panel .services-box > div,
.box2,
.vertical-menu .menu-list a.mn-services i {
  background: #c0392b;
}
.metro-panel .facebook-box > div {
  background: #296BCD;
}
.metro-panel .twitter-box > div {
  background: #1BA1E2;
}
.metro-panel .twitter-feed-box > div {
  background: #273C67;
}*/





